/* HW1 CSS File */


/*styling for the whole page goes here*/
body {
    background-color:  #eee;
    font-family: "Arial";
    font-size: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Input fields at 600px */
.input-fields {
   width: 600px;
}

/* Float to the top right */
.help-text {
    position: fixed;
    top:0;
    right:0;
}

/*styling for the overall table*/
table {
    visibility: hidden;
    background-color: #2C1800;
    color: #C8AD7F;
    border: double;
}

.altrow {
    background-color: #C3B091;
    color: black;
    border-style: ridge;
}

.border {
    border-style: ridge;
}

ul {
    list-style-type: circle;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
    border-style: ridge;
}

/*styling for the coffee types*/
.label {
    font-weight: bold;
    border-style: ridge;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
    text-align: center;
    font-size: small;
}
