/* HW1 CSS File */

/*styling for the whole page goes here*/
body {
    background-color: #eeeeee;
    font-family: "Arial";
    font-size: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Input fields at 600px */
.input-fields {
    width: 600px;
}

/* Float to the top right */
.help-text {
    position: fixed;
    top: 0;
    right: 0;
}

/*styling for the overall table*/

.pizzaTable {

    visibility: hidden;

}

table {
    border: double;
}

.table-headers{

    background-color: black;
    color: white;
    width: 15%;
}

.oddrow{
    background-color: #ffffff;
    border-style: ridge;
    width: 70%;
}

.evenrow {
    background-color: #eeeeee;
    border-style: ridge;
    width: 70%;
}

